<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MiaKhademia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hola</display-name>
    <servlet-name>Hola</servlet-name>
    <servlet-class>servlets.Hola</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hola</servlet-name>
    <url-pattern>/Hola</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>servlets.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorAcademia</display-name>
    <servlet-name>GestorAcademia</servlet-name>
    <servlet-class>servlets.GestorAcademia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorAcademia</servlet-name>
    <url-pattern>/GestorAcademia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorAlumno</display-name>
    <servlet-name>GestorAlumno</servlet-name>
    <servlet-class>servlets.GestorAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorAlumno</servlet-name>
    <url-pattern>/GestorAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorClase</display-name>
    <servlet-name>GestorClase</servlet-name>
    <servlet-class>servlets.GestorClase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorClase</servlet-name>
    <url-pattern>/GestorClase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorIdioma</display-name>
    <servlet-name>GestorIdioma</servlet-name>
    <servlet-class>servlets.GestorIdioma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorIdioma</servlet-name>
    <url-pattern>/GestorIdioma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorInscripcion</display-name>
    <servlet-name>GestorInscripcion</servlet-name>
    <servlet-class>servlets.GestorInscripcion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorInscripcion</servlet-name>
    <url-pattern>/GestorInscripcion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorProfesor</display-name>
    <servlet-name>GestorProfesor</servlet-name>
    <servlet-class>servlets.GestorProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorProfesor</servlet-name>
    <url-pattern>/GestorProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorTutor</display-name>
    <servlet-name>GestorTutor</servlet-name>
    <servlet-class>servlets.GestorTutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorTutor</servlet-name>
    <url-pattern>/GestorTutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorTutoria</display-name>
    <servlet-name>GestorTutoria</servlet-name>
    <servlet-class>servlets.GestorTutoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorTutoria</servlet-name>
    <url-pattern>/GestorTutoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorRoles</display-name>
    <servlet-name>GestorRoles</servlet-name>
    <servlet-class>servlets.GestorRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorRoles</servlet-name>
    <url-pattern>/GestorRoles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administrador</display-name>
    <servlet-name>Administrador</servlet-name>
    <servlet-class>servlets.Administrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administrador</servlet-name>
    <url-pattern>/Administrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gestor</display-name>
    <servlet-name>Gestor</servlet-name>
    <servlet-class>servlets.Gestor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestor</servlet-name>
    <url-pattern>/Gestor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertar</display-name>
    <servlet-name>Insertar</servlet-name>
    <servlet-class>servlets.Insertar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertar</servlet-name>
    <url-pattern>/Insertar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eliminar</display-name>
    <servlet-name>Eliminar</servlet-name>
    <servlet-class>servlets.Eliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eliminar</servlet-name>
    <url-pattern>/Eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar</display-name>
    <servlet-name>Modificar</servlet-name>
    <servlet-class>servlets.Modificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar</servlet-name>
    <url-pattern>/Modificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OracleConector</display-name>
    <servlet-name>OracleConector</servlet-name>
    <servlet-class>servlets.OracleConector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleConector</servlet-name>
    <url-pattern>/OracleConector</url-pattern>
  </servlet-mapping>
</web-app>